  .buttonLogin{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  .buttonLogin:hover{
    background: #7a7878;
  }

  .buttonRegister{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }

  .buttonRegister:hover{
    background: #7a7878;
  }
